# Default ignored files
/shelf/
/workspace.xml
### generic ignored files ###
*.pyc
.pytest_cache
build
dist
__pycache__
_build
### VS Code ###
.vscode
*.env
.env
*.csv
*.html
*.json
### scraped images ###
/out
/in
